*.o
*.swp
*.ii
*.ptx
*.cubin
*.fatbin*
*.module_id
*.nsys-rep
*.ncu-rep
*.sqlite
*.onnx
.eggs
build/
*.so
*.egg-info
__pycache__
.ycm_extra_conf.py
.vimrc
tests/cpp/build/
docs/_build
.ipynb_checkpoints
docs/doxygen
