.venv
*.o
*.swp
*.ii
*.ptx
*.cubin
*.fatbin*
*.module_id
*.nsys-rep
*.ncu-rep
*.sqlite
*.eggs
build/
*.so
*.egg-info
__pycache__
.ycm_extra_conf.py
.vimrc
.vs
.vscode
.cache
.hypothesis
.devcontainer.json
tests/cpp/build/
.ipynb_checkpoints
*.log
CMakeFiles/CMakeSystem.cmake
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
develop-eggs/
dist/
downloads/
.pytest_cache/
compile_commands.json
.nfs
tensor_dumps/
artifacts/
