# Copyright (c) 2022-2026, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

# A workflow to trigger TE build on GitHub
name: 'Build'
on:
  pull_request:
  workflow_dispatch:
jobs:
  core:
    name: 'Core'
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/cuda:13.0.0-devel-ubuntu22.04
      options: --user root
    steps:
      - name: 'Dependencies'
        run: |
          apt-get update
          apt-get install -y git python3.9 pip cudnn9-cuda-12
          pip install cmake==3.21.0 pybind11[global] ninja
          git config --global --add safe.directory '*'
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: ccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad
      - name: 'Build'
        run: NVTE_USE_CCACHE=1 NVTE_CCACHE_BIN=sccache pip install --no-build-isolation . -v
        env:
          NVTE_FRAMEWORK: none
          MAX_JOBS: 1
          SCCACHE_GHA_ENABLED: "true"
          NVTE_CUDA_ARCHS: "90"
      - name: 'Sanity check'
        run: python3 -c "import transformer_engine"
        working-directory: /
  pytorch:
    name: 'PyTorch'
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/cuda:13.0.0-devel-ubuntu22.04
      options: --user root
    steps:
      - name: 'Dependencies'
        run: |
          apt-get update
          apt-get install -y git python3.9 pip cudnn9-cuda-12
          pip install cmake==3.21.0 pybind11[global] ninja pydantic importlib-metadata>=1.0 packaging numpy einops onnxscript
          pip install torch --index-url https://download.pytorch.org/whl/cu130
          git config --global --add safe.directory '*'
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: ccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad
      - name: 'Build'
        run: NVTE_USE_CCACHE=1 NVTE_CCACHE_BIN=sccache pip install --no-build-isolation . -v --no-deps
        env:
          NVTE_FRAMEWORK: pytorch
          MAX_JOBS: 1
          SCCACHE_GHA_ENABLED: "true"
          NVTE_CUDA_ARCHS: "90"
      - name: 'Sanity check'
        run: python3 tests/pytorch/test_sanity_import.py
  jax:
    name: 'JAX'
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/cuda:13.0.0-devel-ubuntu22.04
      options: --user root
    steps:
      - name: 'Dependencies'
        run: |
          apt-get update
          apt-get install -y git python3.9 pip cudnn9-cuda-12
          pip install cmake==3.21.0 pybind11[global] ninja packaging
          pip install jax[cuda13] flax[cuda13]
          git config --global --add safe.directory '*'
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: ccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad
      - name: 'Build'
        run: NVTE_USE_CCACHE=1 NVTE_CCACHE_BIN=sccache pip install --no-build-isolation . -v
        env:
          NVTE_FRAMEWORK: jax
          MAX_JOBS: 1
          SCCACHE_GHA_ENABLED: "true"
          NVTE_CUDA_ARCHS: "90"
      - name: 'Sanity check'
        run: python3 tests/jax/test_sanity_import.py
  all:
    name: 'All'
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/cuda:13.0.0-devel-ubuntu22.04
      options: --user root
    steps:
      - name: 'Dependencies'
        run: |
          apt-get update
          apt-get install -y git python3.9 pip cudnn9-cuda-12
          pip install cmake==3.21.0 pybind11[global] ninja pydantic importlib-metadata>=1.0 packaging numpy einops onnxscript
          pip install torch --index-url https://download.pytorch.org/whl/cu130
          pip install jax[cuda13] flax[cuda13]
          git config --global --add safe.directory '*'
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: ccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad
      - name: 'Build'
        run: NVTE_USE_CCACHE=1 NVTE_CCACHE_BIN=sccache pip install --no-build-isolation . -v --no-deps
        env:
          NVTE_FRAMEWORK: all
          MAX_JOBS: 1
          SCCACHE_GHA_ENABLED: "true"
          NVTE_CUDA_ARCHS: "90"
      - name: 'Sanity check'
        run: |
          python3 tests/pytorch/test_sanity_import.py
          python3 tests/jax/test_sanity_import.py
